@font-face {
	font-family: "Bantayong";
	src: url("/fonts/Bantayong-Light.otf") format("opentype");
	font-weight: lighter;
}

@font-face {
	font-family: "Bantayong";
	src: url("/fonts/Bantayong-Regular.otf") format("opentype");
	font-weight: 500;
}

body, html {
  font-family: 'Bantayong';
}
